a{color:#3b88f0;}
#menu .navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus{color:#3b88f0;}
.footer-toogle .hover i{color:#3b88f0;}
.totop:hover span>a.hover{color:#3b88f0;}
.social-icon li:hover a{background:#3b88f0;}
.home .slides-navigation a:hover{color:#3b88f0;}
.services .services-icon{background:#3b88f0;}
.testimonial .icon-testimonial{color:#3b88f0;}
.call-ta h2{border-left:3px solid #3b88f0;}
.contact form input,.contact form textarea{border-left:1px solid #3b88f0;}
.contact form input:focus,.contact form textarea:focus{border:1px solid #3b88f0;}
#primary .pagination li:hover a{background:#3b88f0;}
#primary .pagination li.active a{background:#3b88f0;}
.post .post-meta span a:hover{color:#3b88f0;}
.blog-comments form input,.blog-comments form textarea{border-left:1px solid #3b88f0;}
.blog-comments form input:focus,.blog-comments form textarea:focus{border:1px solid #3b88f0;}
.widgetbar .widget ul li a:hover{color:#3b88f0;}
.widget .widget-title a:hover{color:#3b88f0;}
form .form-control,form textarea{border-left:1px solid #3b88f0;}
form .form-control:focus,form textarea:focus{border:1px solid #3b88f0;}
.btn-link:hover{color:#3b88f0;}
.pagination li:hover a{background:#3b88f0;color:#FFF;}
.pagination li.active a{background:#3b88f0;}
.service .icon-holder{color: #3b88f0;}
.portfolioFilter li.active{background: #3b88f0;border: 1px solid #3b88f0;}
.service:hover {border-color: #3b88f0;}
.client-photo.active{border: 1px solid #3b88f0;}
.to-top-btn:hover{color: #3b88f0;}
.sidebar .widget ul li a:hover {color: #3b88f0;}
.btn:hover{color: #3b88f0;border-color: #3b88f0;}